.productList {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

.productItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.productItem img {
  border-radius: 5px;
}

.primaryButton {
  background-color: #624dff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.primaryButton:hover {
  background-color: #4027fe;
}
.deleteButton {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d9363e;
}
