.formWrapper {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.title {
  font-size: 20px;
}

.btn {
  background-color: #624dff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
